.main{
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    flex-wrap: wrap;
    margin-top: 100px;
}
.redBorder{
    border: 2px solid red;
}

.greenBorder{
    border: 1px solid green;
}
li{
    list-style-type: none;
}
.orange{
    border: 2px solid orange;
}
.blue{
    border: 2px solid blue;
}

.white{
    border: 2px solid white;
}
.firstDiv{
    width: 200 px;
    display: inline-block;
}
.secondDiv{
    width: 200 px;

}